
@font-face {
    font-family: 'Gallient';
    src: url('../fonts/GallientRegular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5, Opera 10+, Safari 3—5 */
}  

.topnav{
	overflow:hidden;
	background-color:#592A2A;
	margin-bottom: 2%;
}

.topnav a{
	float: right;
	display:block;
	color:white;
	text-align: center;
	padding: 2rem 1rem 2rem 1rem;
	text-decoration: none;
	font-size: 1rem;
	font-family: 'Roboto', sans-serif;
}
.topnav a:hover {
  background-color: #874f4f;
  color: white;
}

.topnav a.active {
  background-color: #874f4f;
  color: #592A2A;
}

.icon {
	display: none;
}


@media screen and (max-width: 1040px) {
  .icon {
	float: right;
	display: block;
	color: white;
	background-color: #592A2A;
	border: none;
	font-size: 2.5rem;
  }

  .icon:hover {
	background-color: #874f4f;		
  }

  .topnav a {
	display: none;
  }

  #HeadingContainer{
	width:50%;

}

}

.vertical-line{
	border-left: 5px solid black;
	display: block;
}

h1{
	font-family: 'Cormorant Garamond', serif;
	display:block;
	font-size:175px;
	font-weight: 300;
	line-height: 0px;
	margin:50px;
	margin-top:20%;
}

.Intro-section{
	display:flex;
	flex-direction:row;
}

.Intro-column{
	flex-gorw: 1;
	flex-basis:200;
}

.intro{
	flex-basis: 20;
	text-align: left;
	margin-top:70px;
	margin-left:50px;
	font-size: large;
	color:#564949;
	font-family: 'Roboto';
}


#HeadingContainer{
	display:table-cell;
	verticle-align:middle;
	left: 50px;
	position:relative;	
	min-height: 20rem;;
}


.IntroImg{
	flex-grow: 1;
	width: 100%;
	margin-right: 10%;
	margin-left: 10%;
}

.Carousel-container{
	display:flex;
	justify-content:center;
	margin-top: 5%;
}

.ShowCaseCard-container{
	flex-grow: 1;
	position: relative;
	margin-right: 20px;
	margin-left: 10%;
	transition: 0.3s;
	width: 100%;
}

.ShowCaseCard-container:hover{
	opacity: 0.8;
	height: 410px;
}

.ShowCaseCardImage{
	height: 25rem;
	width: 20rem;
	border-radius: 20px;
}

.ShowCaseCardImage:hover{
	height: 28rem;
	width: 22rem;
}

.ShowCaseCard-overlay{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	font-family: "Gallient";
	font-size: 75px;
	font-weight: 200;
	color: #ffffff;
	background-color: rgba(39, 35, 35, 0.64);
	border-radius: 15px;
}


.HobbiesSection-container{
	margin-top: 10%;
	margin-bottom: 10%;
	width: 100%;
}

.HobbiesRow{
	display:flex;
	justify-content:center;
}

.HobbyImg{
	height: 90px;
}

.CenteredTitles{
	color: #545252;
	font-family: "Gallient";
	font-size:50px;
	text-align: center;
	font-weight: 200;
}

.HobbySection{
	margin: 2.5%;;
}

.HobbySection-paragraphs{
	color: rgb(100, 96, 96);
	font-family: "Quicksand", sans-serif;
	font-weight:500;
	font-size: 15px;
	margin: 10px;
	width: 250px;
}


.SectionTitles{
	color: #ccd1d4;
	font-family: "Gallient";
	font-size:60px;
	text-align: center;
	margin-top:20%;
	font-weight: 200;

}

@media (max-width: 500px){
	.vertical-line{
	border : 0px;
	margin:0px;
	}
	h1{
	    font-family: 'Cormorant Garamond', serif;
	    position:relative;
	    font-size:100px;
	    margin:0px 0px 0px 0px;
	    line-height:45px;
	    margin-top:25%;
	    margin-left:20px;
	}

	h2{
		font-family: 'Cormorant Garamond', serif;
		text-align: center;
		font-size:35px;
		display:block;
		margin-left:auto;
		margin-right:auto;
		justify-items: center;
	}
    .downArrow{
    	width:175px;
    	margin-left:25%;

    }

    .HobbiesRow{
    	display:block;
    	margin-left:25%;
    }
    .CenteredTitles{
	font-size:30px;
    }
}

.backArrow{
	height: 50px;
}

@media (max-width: 1070px){

    h3{
    	font-size:12px;
    }

}
